
<div class="container">
    <h1>Login</h1>
    <br>
    <div class="alert alert-danger" *ngIf="this.isInvalidLogin"> {{erroMessage}}</div>
    <div>
        User Name : <input type="text" name="username" [(ngModel)]="username">
        password : <input type="password" name="password" [(ngModel)]="password">
        <!-- <button (click)=submit() class="btn btn-success">Login</button> -->
        <!-- <button (click)="basicAuthHandler()" class="btn btn-success">Login</button> -->
        
        <button (click)="basicJWTAuthHandler()" class="btn btn-success">Login</button>

        
    </div>
</div>